// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Knewave', cursive;
}
button {
    display: flex;
    justify-content: center;
  
}

.text_1 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(20, end);
    animation-iteration-count: infinite;
}

.text_1::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typewriter {
    0%, 100% {
        width: 0;
    }
    20%, 80% {
        width: 10.2em;
    }
}
@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }
  
  .text_1 {
      animation: text1;
    }
    .text_2 {
        animation: text2;
    }
  .text_1, .text_2 {
      overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 6s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
                                                   
  }

  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 13em;
    }
  }
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 5.5em;
    }
  }


  .second {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
     -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 190px;
                height: 1000px;
                background-color: yellow;
              
            }